
body {
    margin: 0px;
    background-color: rgb(190, 245, 227);
  }

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.cuerpo{
    font-family: 'Raleway';
    display:contents;
    justify-content: space-between;
}
.cuerpo > li{
    display: grid;
}

.header{
    display:flex;
    justify-content:space-evenly;
}

.header > li{
    display: flex;
    align-items: center;
}

.logoCuadernia{
    object-fit:cover;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.tituloPagina{
    font-size: 4em;
    font-family: 'Raleway', "sans-serif";  /*MODIFICAR*/
    color: #0c0707ab;
    text-align: center;
    padding:15px;
}

/*Cuerpo*/
.cuerpo > button,*{
    font-family: 'Raleway';
}

.contenedorBoton{
    float: right;
    padding-right: 3.5em;
    padding-bottom: 2em;
}

.BotonEditar{
    background-image: url("icono-lapiz.png");
    background-size: 30px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 18px;
    border-color: #ffffff;
    width:30px;
    height:30px;
    
}
.BotonHome{
    background-image: url("home.png");
    background-size: 60px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 18px;
    border-color: #ffffff;
    margin: 40px;
    width:60px;
    height:60px;
}

.container{
    display: flex;
    justify-content: left;
    padding-right: 3.5em;
    padding-bottom: 2em;
    padding-top: 2em;
    
}
.ContenedorCampos{
    display: flex;
    justify-content: center;   
}


.botonAgregar{
    background-color: #92DBCD;
    padding: 10px;
    font-size: 18px;
    border-color: #54b3a0;
    margin: 10px;
}
.botonRegresar{
    background-color: #92DBCD;
    padding: 10px;
    font-size: 18px;
    border-color: #54b3a0;
    margin: 10px;
    float:left;
   
}
.botonRegistrar{
    background-color: #92DBCD;
    padding: 10px;
    font-size: 18px;
    border-color: #54b3a0;
    margin: 10px;
    float:right;
    
}

.botonAgregar:hover{
    cursor: pointer;
}
.contenedorBotonesSalir{
    padding:0.5em;
    padding-left: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BotonSalir{
    background-color: #92DBCD;
    border-color: #54b3a0;
    font-size: 1.1em;
    padding: 0.7em;
}
/*PENDIENTES*/
.tabla > table,th,td{
    border: 1px solid black;
    text-align: center;
    white-space: normal;
    border-collapse:collapse;
    background-color: #FFFFFF;
    table-layout: fixed;
}

th{
    padding:0.5em;
}

table {
    width: 80%;
    margin-left: 4em;
    margin-right: 4em;
}


