.logo{
    height: 100px;
    }



ul{
list-style: none;
}

.tabla{
    display: flex;
}

th,td, table{
    border: 2px solid black;
    
}

section{
    margin: 10px;
}

li{
    margin-bottom: 10px 
}
