body {
    margin: 0px;
    background-color: white;
  }

.contenedor-logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo {
    margin: 10px;
    width: 15em;
}

ul {
    padding: 0px;
    margin: 10px;
    list-style: none;
}

.botones{
    padding: 1em;
}

button,input{
    font-family: 'Raleway';
}

/* PÁGINA PRINCIPAL */
/*Header*/
.encabezado{
    display:flex;
    justify-content:space-evenly;
}

.encabezado > li{
    display: flex;
    align-items: center;
}

.logoCuadernia{
    object-fit:cover;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.tituloPagina,.tituloPaginaFormulario{
    font-size: 4em;
    font-family: 'Raleway';
    color: #0c0707ab;
    text-align: center;
    padding:15px;
}

/*Cuerpo*/
.cuerpo{
    font-family: 'Raleway';
    display:contents;
    justify-content: space-between;
}

.cuerpo > li{
    display: grid;
}

.boton{
    background-color: #92DBCD;
    border-color: #54b3a0;
    font-size: 1.1em;
    padding: 0.7em;
}

.boton:hover{
    cursor: pointer;
}

.contenedorBotonAgregar{
    /*background-color: #fa0606;*/
    padding:0.5em;
    padding-top:0;
    padding-right: 2.5em;
}

.botonAgregar{
    float:right;
}

.tabla{
    width: 100%;
    text-align: center;
    white-space: normal;
    border-collapse:collapse;
    background-color: #FFFFFF;
    table-layout: fixed;
}

.contenedorTabla{
    /*background-color: #d5fa06ad;*/
    padding:0.5em;
    margin-left: 4em;
    margin-right: 4em;
}

th,td,table{
    border: 0.1em solid black;
    border-collapse: collapse;
}

th{
    padding:0.8em;
}

td{
    padding:0.5em;
}

.botonEditar{
    all:unset;
}

.botonEditar:hover{
    cursor:pointer;
}

.contenedorBotonesSalir{
    /*background-color: #fa0606;*/
    padding:0.5em;
    padding-left: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonHome{
    all:unset;
    padding: 0.5em;
    background: url(../media/icono_home.png) no-repeat;
    width: 40px;
    height: 40px;
}

/*Pie de Página*/
/* PÁGINA FORMULARIO PRODUCTOS*/
.formulario{
    /* background-color: red; */
    font-family: 'Raleway';
    padding:1em;
    display: grid;
    justify-items: center;
}

.contenedorDeDatos{
    padding: 0.1em;
}

input{
    padding: 0.5em;
}

.contenedorBotonesGuardar{
    /* background-color: #7006fa; */
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}


.containerMainButton {
    display: flex;
    justify-content: center;
}

.mainButton{
    /*background-color: #b4b4b4;*/
    font-family: 'Raleway';
    color: black;
    width: 16em;
    border: 0px;
    font-weight: bolder;
    margin: 20px;
    background-color: #92DBCD;
    border-color: #54b3a0;
    font-size: 1.2em;
    padding: 15px 50px;
 }
 
 .button1{
     background-color: #CDF066;
 }

 .button2{
    background-color: #92DBCD
 }

 .button3{
    background-color: #8935A1
 }
 
 
 .mainButton:hover {
     cursor: pointer;
     box-shadow: 1px 1px 2px #2a7cda;
     transform: scale(1.1);
     border: solid 1px #30c1fa;
 }
