*{
font-family: Arial;

}

.header{
    display: flex;
    justify-content:space-between;
}

.logo{
    width: 150px;
    height: 150px;
}

.pageTitle{
    font-size: 4em;
    font-family: Arial;

}

.botonAgregar{
    background-color: #92DBCD;
    padding: 1em;


}

table {
    width: 100%;
    
}

th,td,table {
    border: 1px solid black;
    text-align: center;
}