@font-face {font-family: hugFont; 
    src: url('./fonts/hug-me-tight.ttf'); 
}

body {
    margin: 0px;
    background-color: rgb(190, 245, 227);
  }

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

button{
    font-family: unset;
}

/*Header*/
.encabezado{
    display:flex;
    justify-content:space-evenly;
}

.encabezado > li{
    display: flex;
    align-items: center;
}

.logoCuadernia{
    object-fit:cover;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.tituloPagina{
    font-size: 4em;
    font-family: 'Raleway';
    color: #0c0707ab;
    text-align: center;
    padding:15px;
}

/*Cuerpo*/
.cuerpo{
    font-family: 'Raleway';
    display:contents;
    justify-content: space-between;
}

.cuerpo > li{
    display: grid;
}

.contenedorBotonAgregar{
    /*background-color: #fa0606;*/
    padding:0.5em;
    padding-top:0;
    padding-right: 2.5em;
}

.botonAgregar{
    background-color: #92DBCD;
    border-color: #54b3a0;
    font-size: 1.1em;
    padding: 0.7em;
    float:right;

}

.botonAgregar:hover{
    cursor: pointer;
}

.tabla{
    width: 100%;
    text-align: center;
    white-space: normal;
    border-collapse:collapse;
    background-color: #FFFFFF;
    table-layout: fixed;
}

.contenedorTabla{
    /*background-color: #d5fa06ad;*/
    padding:0.5em;
    margin-left: 4em;
    margin-right: 4em;
}

th,td,table{
    border: 0.1em solid black;
    border-collapse: collapse;
}

th{
    padding:0.8em;
}

td{
    padding:0.5em;
}

.contenedorBotonesSalir{
    /*background-color: #fa0606;*/
    padding:0.5em;
    padding-left: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonSalir{
    background-color: #92DBCD;
    border-color: #54b3a0;
    font-size: 1.1em;
    padding: 0.7em;
}

.botonSalir:hover{
    cursor: pointer;
}

.botonHome{
    all:unset;
    padding:0.5em;
}

.botonHome:hover{
    cursor: pointer;
}

/*Pie de Página*/