*{
    font-family: 'Raleway', sans-serif;
}

.logo{
    height: 100px;
    }



ul{
list-style: none;
}

.tabla{
    display: flex;
}

th,td, table{
    border: 2px solid black;

    
}

section{
    margin: 10px;
}

li{
    margin-bottom: 10px 
}

th,td,table{
    border: 0.1em solid black;
    border-collapse: collapse;
}

.boton{
    background-color: #92DBCD;
    border-color: #54b3a0;
    font-size: 1.1em;
    padding: 0.7em;
    
}

.container{
    display: flex;
    justify-content: right;
}
